*{
    font-family: cursive;
}
.navbar img{
    height:2rem;
}
.banner h1{
    background-color: rgba(0,0,0,0.5);

}
caption{
    caption-side: top;
}
.banner{
    height: 300px;
    background-image: url("..//img/banner.jpg");
    background-position: center center;
}
h1 span{
    font-style: italic;
    font-size: 80%;
}
.card-text{
    list-style: square;
}
caption{
    font-size: 150%;
}
#kenukep{
    width: 100%;
    height: auto;
}

h4{
    border-bottom: dotted 3px black;
    font-variant: small-caps;
}